<h1>ポスター未貼付データCSVダウンロード</h1>

<form action="<%= url_for controller: 'data', action: 'download', format: :csv %>" method="POST">
  <%= select_tag 'category', options_for_select(@categories.map {|m| [m["name"], m["id"]] }) %>
  <!-- <input type="text" name="date" value="<%= Time.now.strftime('%Y/%m/%d') %>" /> <- 要らない？ <br /> -->
  <input type="submit" value="ダウンロード" />
</form>